*{
    margin: 0;
    /* padding: 0; */
}

header {  display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #383838;
    color: white;
    padding: 3px 12px;
}

.cabecalho{
    display: flex;
}

.titulo-principal{
    padding-left: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    width: 14%;
}

.menu{
    width: 12%;
}


@media screen and (min-width: 1024px){
    
    
}

@media screen and (min-width: 1728px){
    
}