*{
    margin: 0;
    /* padding: 0; */
}

header {  display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #04a319;
    color: white;
    padding: 3px 25px;
}

.cabecalho{
    display: flex;
}

.titulo-principal{
    padding-left: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    width: 22%;
}

.menu{
    width: 6%;
}

.quem-somos{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 40px 0;
    font-size: 25px;
}

.paragrafo1{
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin: 0px 16px;
    font-size: 23px;
}





@media screen and (min-width: 1024px){
    
    
}

@media screen and (min-width: 1728px){
    
}